<div class="container ">
  <div class="row mt-4 mb-4">
    <div class="col-md-6">
      <mat-card class="view-height">
        <mat-card-title>
          <span class="title-background">
            {{ weather && weather.name }},
            {{ weather && weather.sys && weather.sys.country}}</span>
        </mat-card-title>
        <mat-card-content>
          <span class="w-main-temperature px-4">
            {{ weather && weather.main.temp | number:'1.0-1'}}°C
          </span>
          <span>
            <i class="px-4" [class]="this.weatherIcon"></i>
          </span>
          <div class="weather-deets">
            Looks like <span *ngFor="let item of (weather && weather.weather)"> {{ item.description }} </span>today
          </div>
          <div class="">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row"><i class="fas fa-wind"></i></th>
                  <td>{{ weather && weather.wind.speed }} Km/h </td>
                  <td><i class="fas fa-thermometer"></i></td>
                  <td>{{ weather && weather.main.humidity }} </td>
                </tr>
                <tr>
                  <th scope="row"><i class="fas fa-cloud-sun"></i></th>
                  <td>{{ weather && weather.sys.sunrise | date:'shortTime' }}</td>
                  <td><i class="fas fa-cloud-moon"></i></td>
                  <td>{{ weather && weather.sys.sunset | date:'shortTime' }} </td>
                </tr>
                <tr>
                  <th scope="row"><i class="fas fa-thermometer-empty"></i></th>
                  <td>Min {{ weather && weather.main.temp_min}} °C</td>
                  <td><i class="fas fa-thermometer-empty"></i></td>
                  <td>Max {{ weather && weather.main.temp_max }} °C</td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <p class="mc-footers"> Last updated {{ weather && weather.dt | date:'medium' }}
          </p>
        </mat-card-footer>

      </mat-card>
    </div>
    <div class="col-md-6">
      wrapper column for forecast and lights
      <div class="col-md-6">
        Column for the forecast
      </div>
      <div class="col-md-6">
        Quick links for lights
      </div>
    </div>
  </div>
</div>
