.title-background {
  //   background: orange;
}

.view-height {
  //   height: 80vh;
}

.w-main-temperature {
  font-size: 3rem;
}

.text-align-center {
  text-align: center;

}

.weather-deets {
  font-size: 1.2rem;
  text-align: center;
  padding: 1.2rem;

}

.mc-footers {
  text-align: center;
}

.table {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
}

td {
  padding: 1rem;

}
